.containerMain {
    padding-top: 5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
    transition: all 1s ease-out;
}

.containerArtists {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40rem;
}
.underline {
    display: inline-block;
    position: relative;
}

.artistsList {
    grid-column: 1/2;
    display: grid;
    justify-content: start;
    align-content: center;
    grid-template-rows: fit-content;
    grid-row-gap: 2rem;
    font-size: 6rem;
}

.artistsImage {
    grid-column: 2/3;
    height: 100%;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1750px) {
    .artistsList {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1250px) {
    .artistsList {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    .artistsList {
        font-size: 2rem;
    }
    .containerArtists {
        grid-column-gap: 5rem;
    }
}

@media screen and (max-width: 750px) {
    .artistsList {
        font-size: 1.5rem;
        grid-row-gap: 1rem;
    }
    .containerMain {
        padding-top: 2rem;
        padding-right: 2rem;
        padding-left: 4rem;
        padding-bottom: 2rem;
    }
}
