.header {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 3rem;
}

.header::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0.4;
    border: 0.5rem solid;
    border-image: linear-gradient(90deg,#eaa5ff 25%,#d8d2d1 100%);
    border-image-slice: 1;
    top: 4rem;
    height: 70%;
}

@media screen and (max-width: 900px) {
    .header {
        font-size: 2.5rem;
    }
}