.content {
    margin-top: 5rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    font-weight: 500;
    font-size: 1.8rem;
}

.content p {
    margin-bottom: 2.5rem;
}

.bold {
    font-weight: 800;
}
