.description {
    text-align: center;
    font-size: 2rem;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .description {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 850px) {
    .description{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 700px) {
    .description{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 610px) {
    .description{
        font-size: 1.3rem;
    }
}