.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding: 1rem 2rem;

}

.footerSection {
    width: 100%;

}

.footerInfo {
    padding: 2rem;
    background-color: rgb(40, 38, 44);
    display: grid;
    grid-template-columns:  80% 20%;
}

.footerList {
    list-style-type: none;
    list-style: none;
    margin-left: 3rem;
    grid-column: 1/2;
}

.logo {
    grid-column: 2/3;
    color: white;
    justify-self: center;
    align-self: center;
    font-family: 'Special Elite', cursive;
    font-size: 2.5rem;
}

.footerList a {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.12em;
    text-decoration: none;
    display: inline-block;
}

.copyright {
        margin-top:2rem;
        margin-bottom:2rem;
        padding: 0.5rem;
        font-weight: 800;
        letter-spacing: 0.16em;
        line-height: 1.23077;
        text-transform: uppercase;
        font-size: 1.1rem;
        text-align: center;
        color: rgb(40, 38, 44);
}

