.container {
    grid-column: 2/7;
    grid-row: 1/8;
    z-index: 3;
    position: relative;
}

.container:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    width: 2.8125rem;
    height: 2.8125rem;
    border-bottom-width: 0.75rem;
    border-bottom-color: #eaa5ff;
    border-bottom-style: solid;
    border-left-width: 0.75rem;
    border-left-color: #eaa5ff;
    border-left-style: solid;
    top: 51rem;
    left: -3rem;
}

.container:after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0.6;
    z-index: 2;
    width: 11.875rem;
    height: 11.875rem;
    background: linear-gradient(0deg, #d8d2d1 0%, #eaa5ff 100%);
    opacity: 0.4;
    bottom: -1.25rem;
    right: -1.25rem;
    width: 6.25rem;
    height: 6.25rem;
    top: 12rem;
    left: auto;
    right: -2rem;
    opacity: 0.9;
}

.noImage {
    display: none;
}

.imageDisplay {
    width: 100%;
    opacity: 1;
}

@media screen and (max-width: 750px) {
    .container {
        grid-column: 1/13;
        grid-row: 1/8;
    }
}
