.header {
    height: 100vh;
    background: url(../../assets/Images/header.jpg );
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    max-width: 100vw;
    width:100%;
    display: grid;
    grid-template-columns: 20vh auto 20vh;
    grid-template-rows: 50vh auto 20vh;
}





.headerText {
    grid-column: 2/3;
    grid-row: 2;
    font-size: 20rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
   
}

.showMainHeader {
    animation: slide-up 1s ease;
}

.showSecondaryHeader {
    font-size: 10rem;
    font-weight: 600;
    animation: slide-up 1.5s ease-in;
}



@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


